* { box-sizing: border-box; }

html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.sample-heading {
  text-align: center;
}

.composition {
  white-space: pre;
}

.section-heading {
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

.time {
  text-align: center;
}

.controls {
  left: 50%;
  transform: translate(-50%, 0%);
}

#try-it {
  margin-bottom: 200px;
}

.play-btn, .stop-btn, .reverse-btn {
  font-family: 'Kaushan Script', cursive;
  font-size: 16px;
}
